h1 {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
}
.main-page > .main-hero {
    background: #2E2F42;
}
.main-hero-button {
    padding: 16px 32px;
    gap: 10px;
    cursor: pointer;
}

:root {
    --navy-blue:#2E2F42;
    --slate:#434455;
    --cloud:#F4F4FD;
    --iris: #4D5AE5;

}
h2 {
    color: var(--navy-blue);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
h3 {
    width: 264px;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: var(--navy-blue);
}
p {
    width: 264px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--slate);
}
footer {
    background: #2E2F42;
    flex-shrink: 0;
}

footer p {
    color: var(--cloud);
    width: 264px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;

}
.header-web{
    color: var(--iris);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}
.header-studio {
    color: var(--navy-blue);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}
.header-page > .link {
    text-decoration: none;
}

.footer-web{
    color: var(--iris);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}
.footer-studio {
    color: var(--cloud);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}
.main-footer > .link {
    text-decoration: none;
}