body {
  color: var(--slate);
  font-family: 'roboto', sans-serif;
}

:root {
  --navy-blue: #2e2f42;
  --slate: #434455;
  --cloud: #f4f4fd;
  --iris: #4d5ae5;
  --orange: #e7791f;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
}
.header-page a {
  color: var(--slate);
}

.header-page a:hover,
.header-page a:focus {
  color: var(--orange);
}

.header-page a:active {
  color: blue;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
h1 {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}
.main-page > .main-hero {
  background: var(--navy-blue);
}
.main-hero-button {
  padding: 16px 32px;
  gap: 10px;
  cursor: pointer;
}
h2 {
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
h3 {
  width: 264px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: var(--navy-blue);
}
p {
  width: 264px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--slate);
}
footer {
  background: var(--navy-blue);
  flex-shrink: 0;
}

footer p {
  color: var(--cloud);
  width: 264px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.header-web {
  color: var(--iris);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.header-studio {
  color: var(--navy-blue);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-web {
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-studio {
  color: var(--cloud);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

/* portfolio */

.portfolio .li {
  display: inline;
  padding: 12px 24px;
  background: var(--cloud);
}

.portfolio a {
  color: var(--iris);
}

.li:hover {
  background: var(--ocean);
  color: var(--cloud);
}

.li a:hover {
  background: var(--ocean);
  color: var(--cloud);
  border: 1px solid var(--cornflower);
}
